body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #707070;
  padding: 3rem 0 0 !important;
}

h2 {
  color: #303030;
}

.fixed-top {
  position: absolute;
}

main {
  margin-top: -48px;
}

.carousel-inner {
  background: #000000;
}

.navbar {
  padding: 25px 60px;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #ffffff;
  margin-right: 10px;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.navbar-expand-md .navbar-nav .nav-link i {
  color: #8FC964;
  margin-right: 5px;
}

.carousel-inner.no-black {
  background: #ffffff;
}

.main-nav {
  margin-top: 70px;
}

.carousel-caption {
  bottom: 18rem;
  z-index: 10;
}

/*tooltip*/
.tooltip-inner {
  max-width: 260px;
  padding: 12px 15px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(143, 201, 100, 0.75);
  -moz-box-shadow: 0px 0px 0px 3px rgba(143, 201, 100, 0.75);
  box-shadow: 0px 0px 0px 3px rgba(143, 201, 100, 0.75);
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -7px;
  content: url("../img/tooltip-arrow.png");
  border-width: 0;
  background: transparent;
  position: absolute;
  top: -2px;
  margin-bottom: 10px;
}

#myCarousel2 .carousel-inner {
  background: #fff;
  padding-top: 10px;
}
#myCarousel2 .carousel-item {
  height: 10rem;
  padding: 0 90px;
}
#myCarousel2 .img-box {
  width: 120px;
  float: left;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
  height: 120px;
  padding: 10px;
  border-radius: 60px 60px 0;
  margin-right: 40px;
}
#myCarousel2 span.company-name {
  display: block;
  color: #8FC964;
}

.btn-lg {
  border-radius: 0;
}

.btn-outline-success {
  color: #8FC964;
  border: 2px solid #8FC964 !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #8FC964;
}

/*.tooltip*/
.tooltip-btn {
  width: 75px;
  height: 75px;
  border-radius: 70px;
  background: #fff;
  border: 2px solid #8FC964;
  padding: 0;
}
.tooltip-btn.save-cost {
  background: url("../img/save-cost-gray.png") no-repeat center #fff;
}
.tooltip-btn.save-cost:hover {
  background: url("../img/save-cost-white.png") no-repeat center #8FC964;
}
.tooltip-btn.save-sourcing-time {
  background: url("../img/save-sourcing-time.png") no-repeat center #fff;
}
.tooltip-btn.save-sourcing-time:hover {
  background: url("../img/save-sourcing-time-white.png") no-repeat center #8FC964;
}
.tooltip-btn.one-stop {
  background: url("../img/one-stop.png") no-repeat center #fff;
}
.tooltip-btn.one-stop:hover {
  background: url("../img/one-stop-white.png") no-repeat center #8FC964;
}
.tooltip-btn.location-delivery {
  background: url("../img/location-delivery.png") no-repeat center #fff;
}
.tooltip-btn.location-delivery:hover {
  background: url("../img/location-delivery-white.png") no-repeat center #8FC964;
}
.tooltip-btn.account-manager {
  background: url("../img/account-manager.png") no-repeat center #fff;
}
.tooltip-btn.account-manager:hover {
  background: url("../img/account-manager-white.png") no-repeat center #8FC964;
}
.tooltip-btn.account-manager {
  background: url("../img/account-manager.png") no-repeat center #fff;
}
.tooltip-btn.account-manager:hover {
  background: url("../img/account-manager-white.png") no-repeat center #8FC964;
}
.tooltip-btn.procurement-analytics {
  background: url("../img/procurement-analytics.png") no-repeat center #fff;
}
.tooltip-btn.procurement-analytics:hover {
  background: url("../img/procurement-analytics-white.png") no-repeat center #8FC964;
}
.tooltip-btn.authentic-products {
  background: url("../img/authentic-products.png") no-repeat center #fff;
}
.tooltip-btn.authentic-products:hover {
  background: url("../img/authentic-products-white.png") no-repeat center #8FC964;
}
.tooltip-btn.trusted-service {
  background: url("../img/trusted-service.png") no-repeat center #fff;
}
.tooltip-btn.trusted-service:hover {
  background: url("../img/trusted-service-white.png") no-repeat center #8FC964;
}

.carousel-indicators {
  list-style: none;
  background: #fff;
  opacity: 0.7;
  border-radius: 15px;
  width: 110px;
  margin: 0 auto 50px !important;
}

.carousel-indicators li {
  width: 16px;
  border-radius: 30px;
  background: #000;
  margin: 5px 3px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 0;
  opacity: 0.5 !important;
}

.carousel-indicators .active {
  background: #8FC964;
  opacity: 1 !important;
}

.carousel {
  margin-bottom: 0;
}

section {
  padding: 30px 0;
}
section.how-it-works {
  background: #F5F5F5;
}
section.how-it-works li.list-group-item {
  padding: 10px;
  border: 0;
  margin-left: 30px;
  margin-bottom: 0;
  position: relative;
  background: transparent;
}
section.how-it-works li.list-group-item::after {
  content: "";
  width: 1px;
  height: 40px;
  background: #CCCCCC;
  position: absolute;
  top: 35px;
}
section.how-it-works li.list-group-item h5 {
  font-size: 18px;
  color: #303030;
  margin-bottom: 2px;
  position: relative;
  padding-left: 20px;
}
section.how-it-works li.list-group-item h5 span {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  color: #8EC964;
  margin-right: 10px;
  position: absolute;
  left: -10px;
  top: -2px;
}
section.how-it-works li.list-group-item h5 span::before, section.how-it-works li.list-group-item h5 span::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #CCCCCC;
  position: absolute;
  top: 64px;
  left: 8px;
}
section.how-it-works li.list-group-item h5 span::before {
  top: 24px;
}
section.how-it-works li.list-group-item:last-child::after {
  display: none;
}
section.how-it-works li.list-group-item:last-child span::before, section.how-it-works li.list-group-item:last-child span::after {
  display: none;
}
section.how-it-works li.list-group-item p {
  margin-bottom: 3px;
  padding-left: 20px;
  font-size: 16px;
  color: #707070;
}
section.product-categories {
  padding-bottom: 60px;
}
section.why-choose-us-section {
  background: #f5f5f5;
}
section.why-choose-us-section h5 {
  font-size: 18px;
  color: #303030;
  margin: 6px;
}
section.testimonials {
  padding-bottom: 60px;
}
section.testimonials .carousel-control {
  top: 50%;
}
section.our-valuable-clients {
  padding-bottom: 60px;
  background: #f5f5f5;
}
section.our-valuable-clients .nav-tabs .nav-item.show .nav-link, section.our-valuable-clients .nav-tabs .nav-link.active {
  background-color: #8FC964;
  border-color: #8FC964 #8FC964 #fff;
  font-size: 16px;
  color: #303030;
  position: relative;
}
section.our-valuable-clients .nav-tabs .nav-item.show .nav-link::after, section.our-valuable-clients .nav-tabs .nav-link.active::after {
  position: absolute;
  content: url("../img/down-arrow.png");
  color: #8FC964;
  display: inline-block;
  top: 35px;
  left: 50%;
}
section.our-valuable-clients .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #F2F2F2;
  color: #303030;
  font-size: 16px;
  border-bottom: 1px solid #8FC964 !important;
}
section.our-valuable-clients .carousel-inner.no-black {
  background: transparent;
}
section.our-suppliers {
  padding-bottom: 60px;
}

footer {
  padding: 30px 0;
  background: #f5f5f5;
  background: url("../img/footer-bg.png") center;
  background-size: cover;
}
footer li.list-group-item {
  padding: 2px 20px;
  background: transparent;
}
footer li.list-group-item a {
  color: #ccc;
}
footer li.list-group-item a:hover {
  color: #fff;
}
footer li.list-group-item.active {
  color: #fff;
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  padding: 10px 20px;
}
footer .featurette-divider {
  margin: 20px 0;
}
footer hr {
  border-top: 1px solid #707070;
}

.badge {
  border-radius: 50px;
}

.nav-tabs {
  border-bottom: 1px solid #8FC964 !important;
}

.heading-text::after {
  content: "";
  width: 60px;
  height: 5px;
  background: #8FC964;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  top: -4px;
  position: relative;
}

.embed-responsive {
  border: 10px solid #CCCCCC;
}

#multi-item-example, .testimonials, #multi-item-example-3, #multi-item-example-2 {
  position: relative;
}
#multi-item-example .controls-top, .testimonials .controls-top, #multi-item-example-3 .controls-top, #multi-item-example-2 .controls-top {
  position: absolute;
  z-index: 9;
  top: 50%;
  width: 100%;
}
#multi-item-example .btn-floating.prev, #multi-item-example .btn-floating.next, #multi-item-example .carousel-control.prev, #multi-item-example .carousel-control.next, .testimonials .btn-floating.prev, .testimonials .btn-floating.next, .testimonials .carousel-control.prev, .testimonials .carousel-control.next, #multi-item-example-3 .btn-floating.prev, #multi-item-example-3 .btn-floating.next, #multi-item-example-3 .carousel-control.prev, #multi-item-example-3 .carousel-control.next, #multi-item-example-2 .btn-floating.prev, #multi-item-example-2 .btn-floating.next, #multi-item-example-2 .carousel-control.prev, #multi-item-example-2 .carousel-control.next {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 2px solid #eee;
  text-align: center;
  padding-top: 5px;
  color: #000;
  background: #fff;
  position: absolute;
}
#multi-item-example .btn-floating.prev, #multi-item-example .carousel-control.prev, .testimonials .btn-floating.prev, .testimonials .carousel-control.prev, #multi-item-example-3 .btn-floating.prev, #multi-item-example-3 .carousel-control.prev, #multi-item-example-2 .btn-floating.prev, #multi-item-example-2 .carousel-control.prev {
  left: -70px;
}
#multi-item-example .btn-floating.next, #multi-item-example .carousel-control.next, .testimonials .btn-floating.next, .testimonials .carousel-control.next, #multi-item-example-3 .btn-floating.next, #multi-item-example-3 .carousel-control.next, #multi-item-example-2 .btn-floating.next, #multi-item-example-2 .carousel-control.next {
  right: -70px;
}
#multi-item-example .btn-floating .carousel-inner, #multi-item-example .carousel-control .carousel-inner, .testimonials .btn-floating .carousel-inner, .testimonials .carousel-control .carousel-inner, #multi-item-example-3 .btn-floating .carousel-inner, #multi-item-example-3 .carousel-control .carousel-inner, #multi-item-example-2 .btn-floating .carousel-inner, #multi-item-example-2 .carousel-control .carousel-inner {
  background: #fff;
}
#multi-item-example .card-img-top, .testimonials .card-img-top, #multi-item-example-3 .card-img-top, #multi-item-example-2 .card-img-top {
  width: 90%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  text-align: center;
  margin: 0 auto;
  position: relative;
}
#multi-item-example .card, .testimonials .card, #multi-item-example-3 .card, #multi-item-example-2 .card {
  border: 0;
}
#multi-item-example .card .card-body, .testimonials .card .card-body, #multi-item-example-3 .card .card-body, #multi-item-example-2 .card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 130px 1.25rem 1.25rem;
  margin-top: -115px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.75);
}
#multi-item-example .card-title, .testimonials .card-title, #multi-item-example-3 .card-title, #multi-item-example-2 .card-title {
  font-size: 20px;
  color: #303030;
}
#multi-item-example .carousel-inner, .testimonials .carousel-inner, #multi-item-example-3 .carousel-inner, #multi-item-example-2 .carousel-inner {
  padding: 0 10px;
}
#multi-item-example .numberofitems, .testimonials .numberofitems, #multi-item-example-3 .numberofitems, #multi-item-example-2 .numberofitems {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #707070;
  margin-bottom: 3px;
}
#multi-item-example .carousel-indicators, .testimonials .carousel-indicators, #multi-item-example-3 .carousel-indicators, #multi-item-example-2 .carousel-indicators {
  margin-bottom: -50px !important;
}
#multi-item-example .btn.btn-view-all, .testimonials .btn.btn-view-all, #multi-item-example-3 .btn.btn-view-all, #multi-item-example-2 .btn.btn-view-all {
  background: #8FC964;
  color: #fff;
  padding: 3px 15px 2px;
  border-radius: 20px;
  border: 2px solid #8FC964;
}
#multi-item-example .btn.btn-view-all:hover, .testimonials .btn.btn-view-all:hover, #multi-item-example-3 .btn.btn-view-all:hover, #multi-item-example-2 .btn.btn-view-all:hover {
  cursor: pointer;
  border: 2px solid #8FC964;
  background: transparent;
  color: #8FC964;
}

/*# sourceMappingURL=style.css.map */
