.page-header .panel.wrapper {

    border-bottom: 0px solid black;

}


.navigation {

    background:  black;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;

}