.page-header .panel.wrapper {

    border-bottom: 0px solid black;

}


.navigation {

    background:  black;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;

}



 .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}




 